<footer class="site-footer">

  <div class="the_dutch_seas">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="footer">The Switch &mdash; All Electrical Services</p>
					<p class="footer"><strong>EC: </strong>011028</p>
					<p class="footer"><strong>ABN: </strong>75109985018</p>
					<p class="footer"><span class="fa fa-phone"></span> &nbsp; 0400 032 893</p>
					<span class="hidden-md hidden-lg">
						<br />
						<p class="footer">&copy; The Switch 2014 &mdash; 2016 beyond...</p>
						<br />
						<p class="footer"><a class="sam" href="http://mead.fm" target="_blank">Built in Perth, WA</a></p>
					</span>
				</div>
				<div class="col-md-6 hidden-xs hidden-sm text-right">
					<p class="footer">&copy; The Switch 2014 &mdash; 2016 beyond...</p>
					<p class="footer"><a class="sam" href="http://mead.fm" target="_blank">Built in Perth, WA</a></p>
				</div>
			</div>
		</div>
	</div>

</footer>
