<header class="site-header">

  <nav class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation" id="navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mobile">
					Menu
				</button>
				<a class="navbar-brand navlink smooth_scroll" href="#cleangreen">
  				<img src="/img/main-logo.png" id="navbar-logo" width="200px;"/>
				</a>
				<!--<a class="navbar-brand" href="/"><img src="/img/logo.png" /></a>-->
			</div>
			<div class="collapse navbar-collapse" id="navbar-mobile">
				<ul class="nav navbar-nav nav-alignment">
					<li><a class="smooth_scroll navlink" href="#about">About</a></li>
					<li><a class="smooth_scroll navlink" href="#solar">Solar Installations</a></li>
					<li><a class="smooth_scroll navlink" href="#recent">Recent Jobs</a></li>
					<li><a class="smooth_scroll navlink" href="#led">LED Lighting</a></li>
					<li><a class="smooth_scroll navlink" href="#contact">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>

	<div class="mobile-header visible-xs text-center">
    <img src="/img/main-logo.png"/>
		<p><span class="fa fa-phone"></span> &nbsp;Call The Switch - 0400 032 893</p>
	</div>

</header>
